.section-divider {
  width: 100%;
  line-height: 0;
  margin: -1px 0;
  position: relative;
  z-index: 2;
}

.section-divider svg {
  width: 100%;
  height: 50px;
  display: block;
}

.section-divider--flip {
  transform: scaleY(-1);
}

@media (max-width: 768px) {
  .section-divider svg {
    height: 30px;
  }
}
